body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  border-radius: 15px;
}

header,
.section1,
.section2,
.section3,
.section4,
.section5,
.section6,
.section7 {
  margin: 0 50px;
  margin-bottom: 4rem;
}

header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .mobile-nav {
  display: none;
}

header nav a {
  text-decoration: none;
  color: #555555;
  font-size: 20px;
}

header nav a:not(:first-child) {
  margin-left: 10px;
}

header nav a:last-child {
  color: #ff3998;
}

header nav a:last-child:hover {
  border: 4px dotted pink;
  text-decoration: none;
  border-radius: 15px;
  padding: 5px;
  margin-left: 0px;
}

header nav a:hover {
  text-decoration: underline;
}

.section1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
}

.section1 img {
  width: 100%;
}

.section1 h4 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ff3998;
  margin-bottom: 2rem;
}

.section1 h1 {
  font-weight: 900;
  font-size: 96px;
  color: #111111;
  margin-bottom: 2rem;
}

.section1 p {
  font-size: 20px;
  color: #555555;
}

.button {
  background: linear-gradient(rgb(255, 254, 254) 0 0) padding-box,
    linear-gradient(to right, #9c20aa, #fb3570) border-box;
  padding: 1rem 2rem;
  border: 5px solid transparent;
  border-radius: 50px;
  text-decoration: none;
  color: #555555;
}

.section1 .btn {
  margin-top: 4rem;
}
